@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    outline: none;
}

::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

html{
    scroll-behavior: smooth;
}

a{
    color: var(--sp-white);
    text-decoration: none;
}

:root{
    --sp-black: #000;
    --sp-green-base: #1ed760;
    --sp-white: #fff;
    --sp-red:#e91429;
    --sp-black-base: #121212;
    --sp-subdued: #727272;
    --panel-gap: 8px;
    --left-sidebar-width: 420px;
    --main-view-top-bar-grid-area-z-index: 2;
    --left-sidebar-grid-area-z-index: 4;
    --above-everything-except-now-playing-bar-z-index: 5;
    --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-highlight: hsla(0,0%,100%,.1);
    --background-tinted-press: hsla(0,0%,100%,.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
    --content-spacing: 24px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

.text-subduded{
    color: var(--text-subdued);
}

button{
    padding: 0;
}

body, input {
    color: #b3b3b3;
    text-transform: none;
}

#main , .Root{
    height: 100%;
    position: relative;
}

.Root{
    --content-spacing: 16px;
    --content-max-width: 1955px;
}
@media (min-width: 1024px){
    .Root {
        --content-spacing: 24px;
    }
}

body{
    font-family: CircularSp,sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 600px;
    min-width: 800px;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}

.encore-dark-theme{
    background-color: var(--sp-black);
    display: grid;
    gap: var(--panel-gap);
    grid-template-areas: "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    padding: var(--panel-gap);
    position: relative;
    width: 100%;
}



/* ---------------------------- main-view ---------------------------- */
.main-view-navbar{
    grid-area: main-view;
    height: 64px;
    min-width: 0;
    z-index: 3;
}

.topbar > *{
    white-space: nowrap;
    pointer-events: auto;
}

.topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--panel-gap);
    height: 100%;
    padding: 16px;
    position: relative;
    z-index: 10;
    width: 100%;
}
@media (width >= 1024px) {
    .topbar{
        padding: 16px 24px;
    }
}

.navigation-pane{
    display: flex;
    gap: var(--panel-gap);
}

.topbar-btn:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}
.topbar-btn{
    height: 32px;
    width: 32px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.topbar-content-wrapper{
    flex-grow: 1;
    min-width: 0;
    pointer-events: none;
}

.sp-base-btn{
    font-weight: 700;
    background-color: transparent;
    border: 0;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.sp-base-btn-content{
    position: relative;
    background-color: var(--sp-white);
    color: var(--sp-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
}

.sp-base-btn:hover span{
    transform: scale(1.04);
}

.btn-install-app > span{
    background-color: rgba(0,0,0,.54);
    color: white;
    padding-inline: 33px 16px;
}

.download-icon{
    display: flex;
    position: absolute;
    left: 12px;
    --parent-essential-base: #fff;
}
.download-icon svg{
    fill: currentColor;
}
.user-btn svg{
    fill: currentColor;
}
/* ---------------------------- main-view ---------------------------- */





/* ---------------------------- left-sidebar ---------------------------- */

.nrml-font{
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    color: inherit;
}

.left-side-view-navbar{
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: var(--sp-black);
    grid-area: left-sidebar;
    position: relative;
    width: var(--left-sidebar-width);
    z-index: var(--left-sidebar-grid-area-z-index);
}

.left-side-panel{
    gap: var(--panel-gap);
    height: 100%;
}

.top-left-sidebar{
    background-color: var(--background-base);
    border-radius: 8px;
}

.top-left-sidebar-list{
    padding: 8px 12px;
}

.sidebar-list-item{
    padding: 4px 12px;
}

.link-subtle {
    color: #b3b3b3;
    transition-duration: color .2s linear;
}

.btn-trans{
    min-width: 100%;
    transition: color 0.2s linear;
}

.active{
    color: var(--sp-white);
}

.sidebar-list-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;
    height: 40px;
}

.sidebar-list-link:hover{
    color: white;
    transition: all 0.3s linear;
}

.home-active-icon{
    color: var(--sp-white);
    display: block;
    fill: currentColor;
}

.search-icon{
    fill: currentColor;
}

.bottom-left-sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    user-select: none;
    width: 100%;
    background-color: var(--background-base);
    border-radius: 8px;
}

.hgqfdhgfas{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.bottom-left-sidebar header{
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}

.library-header{
    display: flex;
    align-items: center;
    gap: 8px;
}

.yr-libr{
    display: flex;
    gap: 4px;
    align-items: center;
    margin-inline-end: auto;
    min-width: 0;
}

.sp-lib-btn{
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    color: var(--text-subdued,#6a6a6a);
    min-inline-size: 0px;
    padding-block: 6px;
    min-block-size: 48px;
    padding-inline: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ur-library-btn{
    flex-shrink: 0;
    min-block-size: 40px;
    padding: 4px 8px;
}

.jEDcnm {
    display: flex;
    margin-inline-end: 12px;
}

.haNxPq {
    fill: currentcolor;
}

.fekimu-btn{
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    color: var(--text-subdued,#6a6a6a);
    min-inline-size: 0px;
    padding-block: 8px;
    min-block-size: 32px;
    padding-inline: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.library-header button:hover{
    color: var(--sp-white);
    background-color: var(--background-highlight);
    transition: all 0.2s linear;
}
.yr-libr button:hover{
    color: white;
    background-color: transparent;
    transition: all 0.2s linear;
}

.options{
    margin: 8px 16px;
}

.filter-options{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}

.option-btn{
    margin-block-end: 0px;
    background-color: transparent;
    border: 0px;
    color: inherit;
    cursor: pointer;
    line-height: 1;
    letter-spacing: inherit;
    border-radius: 32px;
    display: inline-flex;
    max-inline-size: 100%;
    position: relative;
    flex-shrink: 0;
    z-index: 1;
}
.option-btn:not(:last-child){
    margin-inline-end: 8px;
}

.option-btn:hover .opt-text{
    transition: all 0.1s linear;
    background-color: hsla(0,0%,100%,.1);
}
.opt-text{
    border-radius: 32px;
    color: var(--sp-white);
    transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
    display: inline-flex;
    min-inline-size: 0px;
    min-block-size: 32px;
    align-items: center;
    padding: 4px 12px;
    background-color: hsla(0,0%,100%,.07);
}

.verticle-playlist-sidebar{
    height: 100%;
    overscroll-behavior-y: contain;
}

.viewport-native-scrollbar{
    overflow-y: scroll;
    direction: inherit!important;
    position: absolute;
    resize: none!important;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.os-content{
    direction: inherit;
    display: block;
    position: relative;
    visibility: visible;
    width: 100%;
    height: 100%;
}

.main-os-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 100%;
    padding: 0px 8px 8px;
}

.search-and-filter-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px 0;
}

.search-icon-btn{
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: hsla(0,0%,100%,.7);
    display: flex;
    align-items: center;
    position: absolute;
    padding: 8px;
    top: 0;
    transition: opacity .3s cubic-bezier(0.3, 0, 0.4, 1);
}

.search-icon-btn:hover{
    background-color: hsla(0,0%,100%,.1);
    border-radius: 50%;
    color: var(--sp-white);
}

.srch-input{
    background-color: hsla(0,0%,100%,.1);
    border: 0;
    border-radius: 4px;
    color: hsla(0,0%,100%,.7);
    width: 32px;
    height: 32px;
    opacity: 0;
    text-overflow: ellipsis;
    transition: opacity,width .3s linear;
    font-size: 13px;
    font-weight: 700;
}
.toggled-srch-input{
    width: 188px;
    opacity: 1;
    transition: opacity,width .3s linear;
    padding: 8px 8px 8px 32px;
}

.filter-wrapper{
    display: inline-flex;
    align-items: center;
    min-width: 0;
}

.filter-btn{
    display: flex;
    grid-gap: 8px;
    align-items: center;
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    color: hsla(0,0%,100%,.7);
    height: 32px;
    margin-inline-start: 8px;
    min-width: 0;
    padding-inline-end: 8px;
    padding-inline-start: 12px;
}

.filter-btn:hover{
    color: var(--sp-white);
}

.filter-btn span{
    min-width: 0;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
}

.library-list{
    contain: layout size;
    position: relative;
}



.library-list{
    contain: content;
}

.box-component{
    grid-template-rows: 48px;
    display: grid;
    gap: 8px 12px;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto 1fr auto;
    position: relative;
    border-radius: 6px;
    min-block-size: 56px;
    z-index: 1;
    color: var(--sp-black);
    padding: 8px;
    --animation-speed: 0ms;
    --animation-ease: ease;
    --bg-inset-change-press: -4px;
    cursor: pointer;
}
.box-component::after{
    content: "";
    position: absolute;
    border-radius: 6px;
    z-index: -1;
    transition: all 0s ease;
    inset: 8px;
}
.box-component:hover::after{
    inset: 0px;
    background-color: var(--background-highlight);
}

.sp-playlist-img{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--extracted-entity-color);
}

.sp-playlist-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.areas-header-main-area{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.sp-playlist-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.listrow-title{
    word-break: break-all;
    font-size: 1rem;
    font-weight: 400;
    color: var(--sp-white,#000);
}

.playlist-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.listrow-subtitle{
    word-break: break-all;
    font-weight: 400;
    color: var(--text-subdued,#000);
}
.playlist-subtitle{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.G7aCptcOZswI1fN6dGkO{
    flex-shrink: 0;
    height: 12px;
    width: 12px;
}

.playlist-subtitle span:not(:empty){
    display: inline-flex;
    gap: 8px;
    margin-inline-end: 8px;
    color: var(--sp-green-base);
}
/* ---------------------------- left-sidebar ---------------------------- */





/* ---------------------------- now-playing-bar ---------------------------- */

.now-playing-bar{
    grid-area: now-playing-bar;
    width: 100%;
    z-index: 6;
}

footer{
    display: flex;
    flex-direction: column;
    height: auto;
    min-width: 620px;
    user-select: none;    
}

footer .playing-bar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding: 0 16px;
    padding-inline-end: 0;
}

.left-music-info{
    min-width: 180px;
    width: 30%;
}

.now-playing-widget{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    transform: translateX(0);
    transition: transform .25s cubic-bezier(.3,0,0,1);
}

.song-cover-wrapper{
    transform: translateX(-8px);
    flex-shrink: 0;
    isolation: isolate;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    display: block;
}

#song-cover img{
    object-fit: cover;
}

.now-playing-song-btn{
    position: absolute;
    right: 5px;
    align-items: center;
    background: rgba(0,0,0,.7);
    border-radius: 500px;
    border: 0;
    color: #b3b3b3;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    line-height: 24px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    z-index: 1;
}

.now-playing-song-btn:hover{
    color: var(--sp-white);
    background: rgba(0,0,0,.8);
    transform: scale(1.1);
}

.song-cover-wrapper:hover .now-playing-song-btn{
    opacity: 1;
}

.song-info{
    margin: 0 8px;
    display: grid;
    align-items: center;
    column-gap: 8px;
    grid-template:
    "title title"
    "badges subtitle" / auto 1fr;
}

.song-name-wrapper{
    color: var(--sp-white);
    grid-area: title;
    justify-self: start;
    width: 100%;
}

.m-minus{
    margin-left: -6px;
    margin-right: -6px;
    overflow: hidden;
    position: relative;
}
.name-wrapper{
    display: flex;
    padding-inline-end: 12px;
    padding-inline-start: 6px;
    white-space: nowrap;
    width: fit-content;
}
.song-name-wrapper .name-wrapper a:hover{
    text-decoration: underline;
}

.artist-name-wrapper{
    grid-area: subtitle;
    grid-column-start: badges;
    min-width: 0;
    width: 100%;
}
.artist-nm{
    color: var(--text-subdued);
    grid-column-start: badges;
    font-size: 0.6875rem;
    font-weight: 400;
}
.artist-nm a{
    color: var(--text-subdued);
}
.f-normal{
    font-size: 0.6875rem;
}

.control-btn-heart[aria-checked=false]{
    color: hsla(0,0%,100%,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn{
    background-color: transparent;
    border: none;
    color: hsla(0,0%,100%,.7);
    height: 32px;
    min-width: 32px;
    width: 32px;
    position: relative;
}

.control-btn-heart[aria-checked=false]:hover{
    color: var(--sp-white);
    fill: var(--sp-white);
}

.control-btn-heart[aria-checked=true] {
    color: #1ed760;
    fill: #1ed760;
}

.animated{
    animation: shake .1s linear 2;
}
@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-3px);}
    50% {transform: translateX(0);}
    75% {transform: translateX(3px);}
    100% {transform: translateX(0);}
}

.pip-toggle-button{
    margin-top: -2px;
}

.right-music-controls-wrapper{
    display: flex;
    justify-content: flex-end;
    min-width: 180px;
    width: 30%;
}
.right-music-controls{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
.fekimu{
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
    text-align: center;
    transition-duration: 33ms;
    color: #6a6a6a;
    min-inline-size: 0px;
    padding-block: 8px;
    min-block-size: 32px;
    padding-inline: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.fekimu:hover{
    color: var(--sp-white);    
}
.custom-tooltip{
    --bs-tooltip-color: var(--sp-white);
    --bs-tooltip-bg: #222222;
    --bs-tooltip-padding-x: 7px;
    --bs-tooltip-padding-y: 7px;
}

.volume-bar{
    margin-bottom: -3px;
    --button-size: 32px;
    --slider-width: 100%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    flex: 0 1 125px;
    position: relative;
}

.middle-music-controls-wrapper{
    max-width: 722px;
    width: 40%;
}

.player-controls-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.player-controls__buttons{
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 12px;
    width: 100%;
}
.player-controls-top{
    gap: 16px;
    margin-bottom: 8px;
}

.player-controls_left{
    display: flex;
    flex: 1;
    gap: 8px;
    justify-content: flex-end;
}

.player-controls_right{
    display: flex;
    flex: 1;
    gap: 8px;
}

.previous-btn-wrapper{
    align-items: center;
    background: transparent;
    border: none;
    color: hsla(0,0%,100%,.7);
    display: flex;
    height: var(--button-size);
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    width: var(--button-size);
}

.next-btn-wrapper{
    align-items: center;
    background: transparent;
    border: none;
    color: hsla(0,0%,100%,.7);
    display: flex;
    height: var(--button-size);
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    width: var(--button-size);
}

.play-nd-pause-btn{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: var(--button-size);
    color: #000;
    display: flex;
    justify-content: center;
    height: var(--button-size);
    min-width: var(--button-size);
    width: var(--button-size);
    transition: all 33ms cubic-bezier(.3,0,.7,1);
    position: relative;
}
.play-nd-pause-btn i{
    margin-right: -2px;
}
/* ---------------------------- now-playing-bar ---------------------------- */





/* ---------------------------- main-view ---------------------------- */

.main-view{
    grid-area: main-view/main-view/main-view/right-sidebar;
    background-color: var(--background-base);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.main-view-container{ 
    flex: 1;
    min-height: 0;
    position: relative;
}

.os-viewport{
    overflow-y: scroll;
    transform: translateZ(0);
}
.child-spacer{
    height: 64px;
    position: sticky;
    top: 0;
    /* background-color: #0d72ea; */
}

.os-host{
    overflow-y: scroll;
}

.main-view-node-child{
    min-height: calc(((126vh - 64px) - 90px) - 519px);
    padding-bottom: 32px;
}

.sp-background-wrapper{
    background-image: linear-gradient(rgba(0,0,0,.6) 0,var(--background-base) 100%),var(--background-noise);
    height: 332px;
    margin-top: -64px;
    position: absolute;
    transition: background 1s ease;
    width: 100%;
    z-index: -1;
}

.home-wrapper{
    display: flex;
    flex-direction: column;
    background: transparent;
    isolation: isolate;
    padding-top: 8px;
}

.content-spacing-wrapper{
    margin: 0;
    -webkit-box-orient: horizontal;
    flex-direction: column;
    gap: 24px;
    display: flex;
    max-width: var(--content-max-width);
    padding: 0 var(--content-spacing);
}

.quick-playlist-wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    margin-bottom: 16px;
    min-height: 200px;
    position: relative;
}

.fAJsTt {
    margin-block: 0px;
    font-size: 2rem;
    font-weight: 100;
    color: var(--text-base);
}
.MfVrtIzQJ7iZXfRWg6eM {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.quick-playlist{
    display: grid;
    grid-gap: var(--row-gap) var(--column-gap);
    grid-template: auto / repeat(auto-fill , minmax( max( var(--min-column-width) , 25%) , 1fr));
}

.home-quick-playlist-item{
    background-color: hsla(0,0%,100%,.1);
    border-radius: 4px;
    height: var(--item-height);
    overflow: hidden;
    position: relative;
    transition: background-color .3s ease;
}

.home-quick-playlist-item:nth-child(4):hover .sp-background-wrapper{
    background-color: rgb(16, 104, 80);
}

.home-quick-playlist-image-wrapper{
    min-height: var(--item-height);
    min-width: var(--item-height);
}

.home-quick-playlist-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    background-color: hsla(0,0%,100%,.2);
}

.home-quick-playlist-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    object-fit: cover;
    object-position: center center;
}

.home-quick-playlist-name-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 16px;
}

.bkjCej {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    color: inherit;
}

.playlist-name{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
}

.quick-playlist-play-btn-wrapper{
    margin-left: 8px;
    border-radius: 500px;
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
    display: flex;
    opacity: 0;
    position: relative;
    transition: all .3s ease;
    z-index: 2;
}

.quick-playlist-play-btn{
    box-sizing: border-box;
    font-size: 1rem;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.33s;
    user-select: none;
    vertical-align: middle;
    z-index: 15;
}

.bright-accent{
    --background-base: #1ed760;
    --background-highlight: #1fdf64;
    --background-press: #169c46;
    --background-elevated-base: #1ed760;
    --background-elevated-highlight: #1ed760;
    --background-elevated-press: #1ed760;
    --background-tinted-base: #1ed760;
    --background-tinted-highlight: #1ed760;
    --background-tinted-press: #1ed760;
    --background-unsafe-for-small-text-base: #1ed760;
    --background-unsafe-for-small-text-highlight: #1ed760;
    --background-unsafe-for-small-text-press: #1ed760;
    --text-base: #000;
    --text-subdued: #000;
    --text-bright-accent: #000;
    --text-negative: #000;
    --text-warning: #000;
    --text-positive: #000;
    --text-announcement: #000;
    --essential-base: #000;
    --essential-subdued: #000;
    --essential-bright-accent: #000;
    --essential-negative: #000;
    --essential-warning: #000;
    --essential-positive: #000;
    --essential-announcement: #000;
    --decorative-base: #000;
    --decorative-subdued: #1abc54;
}

.encore-dark-theme .bright-accent > *{
    --parents-essential-base: #000;
}

.quick-playlist-play-btn-inner{
    display: flex;
    position: relative;
    color: var(--text-base,#000000);
    background-color: var(--background-base,#1ed760);
    border-radius: 500px;
    font-size: inherit;
    align-items: center;
    justify-content: center;
    inline-size: 48px;
    block-size: 48px;
    min-block-size: 48px;
}

.quick-play-btn-icon-wrapper{
    display: flex;
    position: absolute;
    top: 12px;
    left: 12px;
}
.playlist-name:hover{
    text-decoration: underline;
}
.quick-playlist-play-btn-wrapper:hover .quick-playlist-play-btn-inner{
    transform: scale(1.1);
    background-color: var(--background-highlight);
}
.home-quick-playlist-item:hover{
    background-color: hsla(0,0%,100%,.2);
}
.home-quick-playlist-item:hover .quick-playlist-play-btn-wrapper{
    opacity: 1;
}
.Shelf{
    flex-basis: 100%;
}

.flex-section-info{
    display: flex;
    margin-bottom: 16px;
}

.section-info-title-wrapper{
    -webkit-box-flex: 1;
    display: block;
    flex-grow: 1;
    line-height: normal;
    min-width: 0;
}

.section-info-title{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-base,#000000);
}
.title-objective:hover{
    text-decoration: underline;
}

.title-objective{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

.show-all-wrapper{
    margin-left: 8px;
    background: transparent;
    color: #b3b3b3;
    white-space: nowrap;
    user-select: none;
}
.show-all-wrapper:hover .show-all-text{
    text-decoration: underline;
}
.show-all-text{
    font-weight: 700;
    box-sizing: border-box;
    font-weight: 0.875rem;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    color: inherit;
}

/* -------------------------- swiper slider */

.playlist-card-wrapper{
    --card-container-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    -webkit-box-flex: 1;
    background: #181818;
    border-radius: calc(var(--card-container-border-radius) + 2px);
    flex: 1;
    position: relative;
    padding: 16px;
    transition: background-color .3s ease;
    width: 100%;
    isolation: isolate;
}

.playlist-card-img-wrapper{
    position: relative;
    margin-bottom: 16px;
}

/* -------------------------- swiper slider */



.img-padding{
    padding-bottom: 100%;
    --card-image-border-radius: 4px;
    background-color: var(--card-color);
    border-radius: var(--card-image-border-radius);
    -webkit-box-shadow: 0 8px 24px rgba(0,0,0,.5);
    box-shadow: 0 8px 24px rgba(0,0,0,.5);
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.playlist-card-img{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.playlist-card-content-wrapper{
    min-height: 62px;
}

.playlist-name-wrapper{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.daily-playlist-name{
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    padding-block-end: 4px;
    color: var(--text-base,#000000);
}

.ellipse-true{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.daily-playlist-artists{
    margin-block: 0px;
    font-weight: 400;
    color: var(--text-subdued,#6a6a6a);
}

.clamp-true{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.playlist-play-btn-wrapper{
    right: 8px;
    border-radius: 500px;
    bottom: 8px;
    opacity: 0;
    box-shadow: 0 8px 8px rgba(0,0,0,.3);
    position: absolute;
    transform: translateY(8px);
    transition: all .3s ease;
    z-index: 2;
}

.playlist-card-wrapper:hover {
    background: #282828;
}

.playlist-card-wrapper:hover .playlist-play-btn-wrapper{
    opacity: 1;
    transform: translateY(0);
}

.playlist-play-btn{
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.33s linear;
    user-select: none;
    vertical-align: middle;
    min-inline-size: 0px;
    position: relative;
    align-self: 1;
}

.playlist-play-btn:hover .playlist-btn-svg-wrapper{
    transform: scale(1.04);
    background-color: var(--background-highlight);
}
.playlist-btn-svg-wrapper{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    background-color: var(--background-base,#1ed760);
    color: var(--text-base,#000000);
    display: flex;
    border-radius: 500px;
    font-size: inherit;
    min-block-size: 48px;
    align-items: center;
    justify-content: center;
    inline-size: 48px;
    block-size: 48px;
}

.lets-play-songs-wrapper{
    margin: 0;
    max-width: var(--content-max-width);
    padding: 0 var(--content-spacing);
}

.border-bg-wrapper{
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
}

.song-presentation-column-titles{
    top: 0 !important;
    border-bottom: 1px solid transparent;
    box-sizing: content-box;
    height: 36px;
    margin: 0 calc(var(--content-spacing)*-1) calc(var(--content-spacing) - 8px);
    padding: 0 var(--content-spacing);
    position: sticky !important;
    z-index: 9999;
}

.custom-grid-template{
    grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(120px,1fr);
}

.custom-grid-gap{
    padding: 0 16px;
    display: grid;
    grid-gap: 16px;
}

.song-presentation-column-grid{
    height: 36px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    color: #b3b3b3;
}

.song-index{
    display: flex;
    align-items: center;
    justify-self: end;
}

.all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-title-column , .album-title-column , .date-add-title-column {
    display: flex;
    align-items: center;
    justify-self: start;
}
.duration-column{
    align-items: center;
    display: flex;
    grid-column: last;
    justify-self: end;
}

.song-title{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time-duration-icon-wrapper{
    margin-right: 32px;
}

.song-queue-wrapper{
    --row-height: 56px;
    /* contain: layout size; */
    position: relative;
}

.tracklist-row{
    border: 1px solid transparent;
    border-radius: 4px;
    height: 56px;
    position: relative;
}
.tracklist-row:hover{
    background-color: hsla(0,0%,100%,.1);
}
.tracklist-row:hover .song-play-button{
    opacity: 1;
    cursor: pointer;
}
.tracklist-row:hover  .gridcell-song-num{
    display: none;
}

.gridcell-song-num-wrapper{
    color: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    min-height: 16px;
    min-width: 16px;
    position: relative;
    width: 16px;
}

.gridcell-song-num{
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    color: inherit;
}

.song-play-button{
    display: flex;
    border: 0;
    align-items: center;
    color: #fff;
    height: 100%;
    background: transparent;
    justify-content: center;
    position: absolute;
    width: 100%;
    opacity: 0;
}

.song-play-button svg{
    width: 16px;
    height: 16px;
}

.song-cover-image{
    user-select: none;
    object-fit: cover;
    object-position: center center;
}

.ellipse-one-line{
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-info-grid-wrapper{
    padding-right: 8px;
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template:
        "title title"
        "badges subtitle" / auto 1fr;
}

.internal-track-link{
    color: #fff;
    grid-area: title;
    justify-self: start;
}

.stand-alone-song:hover{
    text-decoration: underline;
}
.stand-alone-song{
    -webkit-tap-highlight-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-base,#000000);
}

.song-artists{
    grid-area: subtitle;
    grid-column-start: badges;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
    color: var(--text-subdued,#6a6a6a);
}
.song-artists a:hover{
    text-decoration: underline;
}
.song-artists a{
    color: #b3b3b3;
}

.album-title-column{
    display: flex;
    align-items: center;
    justify-self: start;
}
.album-name-wrapper{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-weight: 400;
    color: inherit;
}
.album-name-wrapper a{
    color: #b3b3b3;
}
.album-name-wrapper a:hover{
    text-decoration: underline;
}


.date-added{
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-weight: 400;
    color: var(--text-subdued,#6a6a6a);
}

.add-to-favourite-btn-wrapper{
    margin-right: 16px;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.8125rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    cursor: pointer;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transition: all 0.33s linear;
    vertical-align: middle;
    color: var(--text-bright-accent,#117a37);
    min-inline-size: 0px;
    padding-block: 8px;
    min-block-size: 32px;
    padding-inline: 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.duration-time{
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    color: var(--text-subdued,#6a6a6a);
    display: flex;
    font-variant-numeric: tabular-nums;
    justify-content: flex-end;
    width: 5ch;
}

#myProgressBar{
    appearance: none;
    background-color: hsla(0, 0% , 100% , 0.3);
    outline: none;
    border-radius: 15px;
    height: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
#myProgressBar::-webkit-slider-thumb{
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--essential-bright-accent);
    cursor: pointer;
    box-shadow: -1000px 0 0 1000px var(--essential-positive);
}




.song-timings{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.6875rem;
    font-weight: 400;
    color: var(--text-subdued,#6a6a6a);
}
#currentTime{
    min-width: 40px;
    text-align: right;
}
#songDuration{
    min-width: 40px;
    text-align: left;
}
.playback-bar{
    --playback-bar-grid-gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--playback-bar-grid-gap);
    width: 100%;
}

#pip-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 9999;
    cursor: grab;
    -webkit-user-drag: element;
}
#pip-container img{
    width: 100%;
    height: 100%;
}

.volumebar-range-container{
    display: flex;
    align-items: center;
}
.volumebar-range-container input[type = "range"]{
    accent-color: var(--essential-positive);
    outline: none;
    border-radius: 15px;
    height: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
/* ---------------------------- main-view ---------------------------- */